.grocery-container {
    display: flex;
    flex-wrap: wrap;
}

.grocery-item {
    flex-basis: 10%;
}

.grocery-item img {
    width: 100%;
}

.grocery-container-2 {
    margin: 12px;
    position: relative;
}

.productRow {
    gap: 12px;
    /* margin: 12px; */
    display: flex;
    overflow: auto;
    width: 99%;
}    

.item {
    flex-basis: 15%;
    border: 1px solid #f0eded;
    padding: 12px;
    box-shadow: 1px 1px 4px rgb(237, 237, 237);
    border-radius: 8px;
    margin: 12px 0;
    min-width: 140px;
}

.image-holder {
    /* flex-basis: 30%; */
}

.image-holder img {
    width: 100%;
}

.time {
    font-size: 7px;
    font-weight: bold;
    margin-bottom: 8px;
}

.name {
    font-size: 11px;
    font-weight: bold;
}

.weight {
    font-size: 8px;
    margin: 8px 0 8px 0;
    color: #797777;
}
.price-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.price-add h3 {
    font-size: 10px;
    font-weight: bold;
}

.price-add button {
    padding: 7px 14px;
    background: transparent;
    border: 1px solid greenyellow;
    border-radius: 4px;
    color: yellowgreen;
    font-weight: bold;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 42%;
}

.arrows img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #e2e1e1;
    padding: 4px;
    box-shadow: 1px 1px 4px rgb(237, 237, 237);
    border: 1px solid #f0eded;
    margin : 0 8px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    
}